URL=https://be.chanakya.tigctech.in
ENV=<prod/test>
SQL_USER=<database username>
SQL_PASS=<database password>
SQL_HOST=tigc-chanakya-database.c3iq6okeqz56.ap-south-1.rds.amazonaws.com
SQL_DB=<database name>
SQL_PORT=<database port>
SQL_URL=postgresql://<database username>@tigc-chanakya-database.c3iq6okeqz56.ap-south-1.rds.amazonaws.com/<database name>
AWS_ACCESS_KEY=<aws access key>
AWS_SECRET_KEY=<aws secret>
AWS_REGION=ap-south-1
GOOGLE_CLIENT_ID=383810610908-12fkvjjergu0m89mrjbdr0qhgdmqu4dr.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=<google secret>
API_SECRET_KEY=<key to sign JWTs>
FRONTEND_URL=https://chanakya.tigctech.in/user/signin
#FRONTEND_URL=http://localhost:3000/user/signin
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/--
SUPERUSER_EMAIL=<superuser email from itmtb>
SUPERUSER_NAME=<super user username from itmtb>
